<h4>Add a Todo</h4>
<div class="my-3">
<form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="To-do title" class="form-label">Title</label>
      <input type="text"[(ngModel)]="title" class="form-control" id="title" name="title" aria-describedby="">
      
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label"> Todo Description</label>
      <input type="text" class="form-control" name="desc" id="desc"[(ngModel)]="desc">
    </div>    
    <button type="submit" class="btn btn-sm btn-primary">Add To-Do</button>
  </form>
</div>